


@media (min-width: 1343px) and (max-width: 1500px) {}

@media (min-width: 1200px) and (max-width: 1342px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
  .titulos-principais h2 {
    margin-bottom: 5%;
  }

  .titulos-principais img {
    margin-bottom: -1%
  }

  .col-md-7 img {
    margin-bottom: -1%
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .titulos-principais img {
    margin-bottom: -1%
  }

  .col-md-7 img {
    margin-bottom: -1%
  }

  .footer h3 {
    padding-top: 20px;
  }




}

@media (min-width: 320px) and (max-width: 575px) {
  .header-topo .d-flex .imgemail .email{
    display: none;
  }

  .titulos-principais img {
    margin-bottom: -40%
  }

  .col-md-7 img {
    margin-bottom: -40%
  }

  .featurette-heading {
    margin-top: 7rem;
  }

  .footer h3 {
    padding-top: 20px;
    font-size: 16px;
  }

  .footer li {
    font-size: 14px;
  }

  .copyright p {
    font-size: 14px;
  }

}