@media (min-width: 1920px) and (max-width: 2000px){
  .owl-stage-outer {
    margin-left: 11%;
    align-items: center;
  }

  .maisvendidos {
    display: flex;
  }
}

.banners .slide1 .carousel-item {
  background-image: url(../images/slide1.png);

}

.banners .slide2 .carousel-item {
  background-image: url(../images/slide2.png);

}

.banners .slide3 .carousel-item {
  background-image: url(../images/slide3.png);

}



@media (min-width: 1400px) and (max-width: 1919px) {
  .owl-stage-outer {
    margin-left: 10%;
    align-items: center;
  }

  .maisvendidos {
    display: flex;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .owl-stage-outer {
    margin-left: 4%;
    align-items: center;
  }

  .maisvendidos {
    display: flex;
  }

}


@media (min-width: 992px) and (max-width: 1199px){
  .photo-gallery .menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .maisvendidos {
    display: flex;
  }

  .owl-stage-outer {
    margin-left: 12%;
  }

  .quem-somos .col-md-5 img {
    width: 100%;
    margin-top: 50%;
    margin-bottom: 50%;
  }

  .content .image-box {
    max-width: 60%;
  }

  .content {
    padding: 10px 0;
  }


}

@media (min-width: 768px) and (max-width: 991px){
  

}

  


@media (min-width: 576px) and (max-width: 767px) {
  .card-wrapper {
    display: flex;
  }

  .sabores button {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000000;
  }

  .maisvendidos {
    margin-left: 95px;
  }

  .menu nav {
    margin-top: 5%;
    width: 100%;
  }

  .menu a {
    height: 20%;
    margin: 5px 5px 2px 2px;
    border-radius: 24px;
  }

  .menu img {
    width: 50px;
    margin: 2% 25% 6%;
  }

  .menu h1 {
    display: none;
  }

  .photo-gallery .menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .owl-stage-outer {
    margin-left: 16%;
  }

  .perfil form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .quem-somos .col-md-5 img {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .content .image-box {
    display: none;
  }

  .col-md-7 img {
    margin-bottom: -1%
  }

  .footer h3 {
    padding-top: 20px;
  }

}

@media (min-width: 320px) and (max-width: 575px){

  .logo{
    margin-left: 30%;
  }

  .icones{
    margin-left: 30%;
  }

  .maisvendidos {
    margin-left: 30px;
  }

  .header-menu button {
    position: relative;
    left: 78%;
  }

  .sabores button {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -15%;
    background-color: #000000;
  }

  /* aqui vc coloca as imagens reduzidas*/
  .banners .slide1 .carousel-item {
    background-image: url(../images/slide1-1.png);
    background-repeat: no-repeat;
    background-color: #000000;

  }

  .banners .slide2 .carousel-item {
    background-image: url(../images/slide2-2.png);
    background-repeat: no-repeat;
    background-color:#9499C5;
  }

  .banners .slide3 .carousel-item {
    background-image: url(https://www.i2clipart.com/cliparts/0/2/a/0/12822502a0a5c7b0fc0931e2af651b972c0d9d.png);

  }

  /*aqui acaba*/

  .banners .carousel-item {
    background-image: url(../images/bolobrigadeiro.jpg);
  }

  .menu nav {
    margin-top: 5%;
    width: 100%;
  }

  .menu a {
    height: 20%;
    margin: 5px 5px 2px 2px;
    border-radius: 24px;
  }

  .menu img {
    margin: 2% 1% 6%;
  }

  .menu h1 {
    display: none;
  }

  .snip1143 li:hover:before {
    width: 10%;
  }

  .login form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-group input {
    font-size: 10px;
  }

  .owl-stage-outer {
    margin-left: 5%;
    align-items: center;
  }

  .form-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .single_course {
    width: 70%;
  }

  .single_course .course_content {
    height: 350px;
  }

  .course_content .btns-cardapio a {
    width: 70%;
    display: block;
    margin-right: 60%;
  }

  .btn_fav .bi-heart {
    margin-left: 80%;
    margin-bottom: 65%;
    margin-top: -10;
    background-color: #000000;
  }

  .card-wrapper .card:not(:first-child) {
    display: none;
  }

  .quem-somos .col-md-5 img {
    margin-bottom: 10%;
  }

  .content .image-box {
    display: none;
  }

  .content form {
    width: 100%;
    margin-left: 5%;
  }

  .col-md-7 img {
    margin-bottom: -40%
  }

  .featurette-heading {
    margin-top: 7rem;
  }

  .container_form {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .recuperar form {
    margin-left: 10%;
    margin-right: 10%;
  }

  .cadastro .modal-footer button a {
    font-size: 20px;
  }

  .footer h3 {
    padding-top: 20px;
    font-size: 16px;
  }

  .footer li {
    font-size: 14px;
  }

  .copyright p {
    font-size: 14px;
  }


}
