label#upimg{
    background-color: #F07882;
    color: #fff;
    font: 400;
    font-size: 20px;
    border: solid 0px;
    border-radius: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#finEncon{
    color: white;
    font-size: 25px;
    background-color: #F07882;
    font-weight: 500;
    padding: 10px;
    border: black solid 0px;
    border-radius: 20px;
}
.encomendar{
    width: 100%;
}

.encomendar fieldset{
    width: 60%;
    margin-left: 10%;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
}

.container_form .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    background-color: #fff;
}

.encomendar .topic{
    color: black;
    font-size: 30px;
    margin-left: 20%;
}

form h1{
    color: #F07882;
    font-size: 30px;
    margin-bottom: px;
}

.image-box {
    max-width: 55%;
}

.image-box img {
    width: 70%;
    background-color: #fff;
    margin-left: 23%;
}

.content .message-box {
    min-height: 100px;
    position: relative;
  }
  
  .content .message-box textarea {
    position: absolute;
    height: 100%;
    width: 90%;
    resize: none;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .content .message-box textarea:focus {
    border-color: #F07882 !important;
  }
 