body{
    padding: 0%;
}

.imgemail  {
    padding-left: 14%;
    gap: 0.4rem;
}

.imgemail span{
    font-size: 16px;
}

.icones{
   padding-right: 4%;
}

.btn-outline-success{
    border-radius: 80%;
    color: black;
    border-color: black;
}

.btn-outline-success:hover{
    color: orange;
}

.form-control{
    border-radius: 20px;
     border: #FFE2CB solid 1px;
     color: #000;
     position: relative;
     width: 100%;
     font-size: 14px;
}