.container-fluid{
    padding: 0%;
}

.imgemail  {
    padding-left: 14%;
    gap: 0.4rem;
}

.imgemail span{
    font-size: 16px;
}

.icones{
   padding-right: 4%;
}

.btn-outline-success{
    border-radius: 80%;
    color: black;
    border-color: black;
}

.btn-outline-success:hover{
    color: orange;
}

.form-control{
    border-radius: 20px;
     border: #FFE2CB solid 1px;
     color: #000;
     position: relative;
     width: 100%;
     font-size: 14px;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .footer {
    background-color: #ECE6DE;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    height: 30%;
}

.footer h3 {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}

.footer img {
    width: 100px;
}



/*footer -copyright*/

.copyright {
    margin-top: 80px;
    padding-bottom: 20px;
    background-color: #ECE6DE;

}

.copyright p {
    color: #0000009d;
    font-size: 18px;
    text-align: center;
}

.copyright a {
    color: #000000e0;
    text-align: center;
    padding-top: 10px;
}

.copyright a:hover {
    color: #FACBA4;
}

/*footer fim*/

#logorodape {
    width: 200px;
}