body{
    padding: 0%;
}

.imgemail  {
    padding-left: 14%;
    gap: 0.4rem;
}

.imgemail span{
    font-size: 16px;
}

.icones{
   padding-right: 4%;
}

.btn-outline-success{
    border-radius: 80%;
    color: black;
    border-color: black;
}

.btn-outline-success:hover{
    
    color: orange;

}